<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teach For India</title>
    <link rel="shortcut icon" href="/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
            <a id="nav-brand" class="navbar-brand" href="/">
                <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top"> Teach For India
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/opportunity">Home
                    </a>
                </li>
                <% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Signup
                            <i class="fas fa-user-plus"></i>
                        </a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="">Signed In As
                                <%= currentUser.name %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length>0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
                <% if(success && success.length>0) { %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                    <% } %>
    </div>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teach For India</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a id="nav-brand" class="navbar-brand" href="/">
                    <img src="https://img00.deviantart.net/d065/i/2004/309/3/6/sonic_dock_icons_by_nded.png" width="30" height="30" class="d-inline-block align-top"> Teach For India
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSuportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/opportunity">Home
                            </a>
                        </li>
                        <% if(!currentUser){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login
                                <i class="fas fa-user"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Signup
                                <i class="fas fa-user-plus"></i>
                            </a>
                        </li>
                        <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="">Signed In As <%= currentUser.name %></a>
                        </li>    
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <% if(error && error.length>0) { %>
                    <div class="alert alert-danger" role="alert">
                            <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length>0) { %>
                    <div class="alert alert-success" role="alert">
                            <%= success %>
                    </div>
                <% } %>
            </div>
>>>>>>> 155441e18bdbfcc2fd483b73e65bbfda087dc39d
