<h1>Volunteer has Signed up!</h1>
<p>
    <h3>Name: <%= application.author.name %></h3>
    <h3>Email: <%= application.email %></h3>
</p>
<p><strong>Reason: </strong> <%- application.description %></p>
<p><strong>Time Commitment: </strong> <%- application.time %></p>
<p><strong>Previous Volunteering Experience: </strong> <%- application.experience %></p>